<h2>Create a New Walk</h2>

<%= form_for @walk do |f| %>

<%= f.label :walker_id %>
<%= f.collection_select(:walker_id, Walker.all, :id, :name) %><br>
<%= f.label :dog_id %>
<%= f.collection_select(:dog_id, current_owner.dogs, :id, :name) %><br>
<%= f.label :walk_length %>
<%= f.number_field(:walk_length, in: 10..30, step: 10) %><br><br>
<%= f.submit "Submit" %>
<% end %>
